body {
  position: relative;
}

.arabic__palette{
  position: absolute;
  left: -0.28%;
  right: -1.28%;
  top: 49.8%;
  bottom: -0.98%;
  overflow: hidden;
  background: linear-gradient(175.98deg, #FFFFFF 4.63%, rgba(255, 255, 255, 0) 96.72%);
}

svg{
  position: absolute;
  width: 100%;
}

.background__svg {


}
