
body{
  position: relative;
  width: 100%;
}

.arabic__palette{
  width: 100%;
  overflow: hidden;
}

svg{
  position: fixed;
  width: 100vw;
  top: 50%;
  background: linear-gradient(175.98deg, #FFFFFF 90%, rgba(255, 255, 255, 0) 40%);
}

.background__svg {
}
