<app-navbar></app-navbar>
<div class="forma">
  <div class="demande_creer_header">
    <h1>طلب جديد</h1>
    <button id="retour" (click)="retour()" >رجوع</button>
  </div>
  <hr>
  <form>
    <div>
    <div>
      <label for="nom">الاسم العائلي بالفرنسية لصاحب الطلب</label>
      <input type="text" name="nom" id="nom" [(ngModel)]="demande.nom" required>
    </div>
    <div>
      <label for="prenom">الاسم الشخصي بالفرنسية لصاحب الطلب</label>
      <input type="text" name="prenom" id="prenom" [(ngModel)]="demande.prenom" required>
    </div>



    <div>
      <label for="naissance">تاريخ الازدياد</label>
      <input style="width:45%; height: 30px;" type="date" name="naissance"  [defaultValue]="demande.naissance" id="naissance" min="1900-01-01" max="2004-01-01" [(ngModel)]="demande.naissance" required>
    </div>
    <div>
      <label for="cin">رقم البطاقة الوطنية</label>
      <input type="text" name="cin" id="cin" [(ngModel)]="demande.cin" required>
    </div>
    <div>
      <label for="adherentCode">رقم الانخراط</label>
      <input type="text" name="adherentCode" id="adherentCode" [(ngModel)]="demande.adherentCode">
    </div>
    <div>
      <label for="telephone">رقم الهاتف</label>
      <input type="text" name="telephone" id="telephone" [(ngModel)]="demande.telephone" required>
    </div>
    <div>
      <label for="adresseActualle">العنوان الحالي</label>
      <input type="text" name="adresseActualle" id="adresseActualle" required [(ngModel)]="demande.adresseActualle">
    </div>
      <div>
        <label for="rib">رقم الحساب البنكي</label>
        <input type="text" name="rib" id="rib" required [(ngModel)]="demande.rib">
      </div>
      <div>
        <label for="mosqueRef">الرمز المعلوماتي للمسجد</label>
        <input type="text" name="mosqueRef" id="mosqueRef" required [(ngModel)]="demande.mosqueRef">
      </div>
      <div>
        <label for="province">الإقليم</label>
        <input type="text" name="province" id="province" required [(ngModel)]="demande.province">
      </div>



      </div>
    <div>
      <div>
        <label for="nomArabic">الاسم العائلي بالعربية لصاحب الطلب</label>
        <input type="text" name="nomArabic" id="nomArabic" [(ngModel)]="demande.nomArabic" required>
      </div>
      <div>
        <label for="prenomArabic">الاسم الشخصي بالعربية لصاحب الطلب</label>
        <input type="text" name="prenomArabic" id="prenomArabic" [(ngModel)]="demande.prenomArabic" required>
      </div>
      <div>
        <label for="mosque">عنوان المسجد</label>
        <input type="text" name="mosque" id="mosque" required [(ngModel)]="demande.mosque">
      </div>
    <div>
      <label for="dateJoindreMosque">تاريخ الالتحاق بالمسجد</label>
      <input style="width:43%; height: 30px;" [defaultValue]="demande.dateJoindreMosque" type="date" name="dateJoindreMosque" id="dateJoindreMosque" min="1942-01-01" max="2022-03-26" [(ngModel)]="demande.dateJoindreMosque" required>
    </div>
    <div>
      <label for="environment">الوسط</label>
      <select name="environment" required id="environment" [(ngModel)]="demande.environment">
        <option selected disabled [hidden]="mode ==='UPDATE'? false : true">{{demande.environment}}</option>
        <option value="0">حضري</option>
        <option value="1">قروي</option>
      </select>
    </div>
    <div>
      <label for="sf">الحالة العائلية</label>
      <select name="sf" id="sf" [value]="demande.sf" [(ngModel)]="demande.sf" required>
        <option selected disabled [hidden]="mode ==='UPDATE'? false : true">{{demande.sf}}</option>
        <option value="0">عازب(ة)</option>
        <option value="1">أرمل(ة)</option>
        <option value="2">متزوج(ة)</option>
        <option value="3">مطلق(ة)</option>
      </select>
    </div>

    <div>
      <label for="fonction">المهمة</label>
      <select  name="fonction" id="fonction" [value]="demande.fonction" [(ngModel)]="demande.fonction" required >
        <option selected disabled [hidden]="mode==='UPDATE'? false : true">{{demande.fonction}}</option>
        <option value="0">إمام</option>
        <option value="1">خطيب</option>
        <option value="2">مؤذن</option>
        <option value="3">حارس</option>
        <option value="4">منظف (ة)</option>
        <option value="5">واعظ(ة)/إمام مؤطر/مرشدة</option>
        <option value="6">مراقب</option>
      </select>
    </div>
    <div>
      <label for="logement">وضعية السكن</label>
      <select name="logement" id="logement" [value]="demande.logement" required [(ngModel)]="demande.logement">
        <option selected disabled [hidden]=" mode==='UPDATE' ? false : true">{{demande.logement}}</option>
        <option value="0">كراء</option>
        <option value="1">لدى العائلة أو محسنين</option>
        <option value="2">ملحق بالمسجد</option>
      </select>
    </div>

    <div>
      <label for="conditionPhysique">الصفة</label>
      <select name="conditionPhysique" id="conditionPhysique" [value]="demande.conditionPhysique" required [(ngModel)]="demande.conditionPhysique">
        <option selected disabled [hidden]="mode==='UPDATE'? false : true">{{demande.conditionPhysique}}</option>
        <option value="0">ممارس</option>
        <option value="1">عاجز</option>
      </select>
    </div>

    </div>
    <div class="addkids">
      <h4>تواريخ ازدياد الأبناء</h4>
      <button id="addKid" (click)="addvalue()">إضافة</button>
      <div  class="enfant__controls" *ngFor="let value of demande.enfants; let i = index">
        <input style="width:55%; height: 30px; margin: 0 10px" type="date" name="naissance"  [defaultValue]="demande.enfants[i].naissance" id="enfantNaissance" min="1900-01-01" max="2004-01-01" [(ngModel)]="demande.enfants[i].naissance" required>
        <button (click)="removevalue(i)">حذف</button>
      </div>

    </div>
  </form>
  <div class="action_btns">
    <button id="update" (click)="addDemande(demande)">{{mode === "CREATE" ? "تقديم طلب" : "تعديل الطلب"}}</button>
    <button id="delete" (click)="toggle()" [hidden]="mode ==='UPDATE' ? false : true" >احذف الطلب</button>
  </div>

</div>
<div #myToast role="alert" aria-live="assertive" aria-atomic="true" class="toast fade" data-bs-autohide="false">
  <div class="toast-header">
    <strong class="me-auto">تأكيد الحذف</strong>
    <button type="button" class="btn-close btn-danger" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <p>هل أنت متأكد أنك تريد حذف؟</p>
    <button (click)="deleteDemande(demande)">نعم</button>
    <button (click)="untoggle()" type="button">لا</button>
  </div>
</div>
<app-footer></app-footer>
