<app-navbar></app-navbar>
<div class="criterefields ">
 <div class="critere_header">
   <h1>معايير التنقيط</h1>
   <button class="btn btn_header" routerLink="/demandes">رجوع</button>
 </div>
  <hr>
  <div class="divForm">
  <form action="#!" class="forma" >
    <div class="first">
    <div>
      <h3 id="adherentHeader">المستفيد</h3>
      <hr>
      <label for="age">السن</label>
    <input type="number" id="age" name="age" [(ngModel)]="critere.age">
    </div>
    <div>
    <label for="anciennete">الأقدمية</label>
    <input type="number" id="anciennete" name="anciennete" [(ngModel)]="critere.anciennete" >
    </div>
      <label for="etatPhysique">عاجز</label>
      <input type="number" id="etatPhysique" name="etatPhysique" [(ngModel)]="critere.etatPhysique">
    <div>
      <label for="valeurChaqueEnfant">الأبناء الأقل من 25 سنة</label>
      <input type="number" id="valeurChaqueEnfant" name="valeurChaqueEnfant" [(ngModel)]="critere.valeurChaqueEnfant">
    </div>
    <!-- START Environnement -->
      <h3 id="environnementHeader">الوسط</h3>
      <hr>
      <label for="environnementCivil">حضري</label>
    <input type="number" id="environnementCivil" name="environnementCivil" [(ngModel)]="critere.environnementCivil">
    <label for="environnementRural">قروي</label>
    <input type="number" id="environnementRural" name="environnementRural" [(ngModel)]="critere.environnementRural">
    <!-- END Environnement -->

    <!-- START Situation familliale -->

    <h3 id="situationFamilliale">الحالة العائلية</h3>
      <hr>
    <label for="sfCelibataire">عازب(ة)</label>
    <input type="number" id="sfCelibataire" name="sfCelibataire" [(ngModel)]="critere.sfCelibataire">

    <label for="sfMarie">متزوج(ة)</label>
    <input type="number" id="sfMarie"  name="sfMarie" [(ngModel)]="critere.sfMarie">

    <label for="sfVeuf">أرمل(ة)</label>
    <input type="number" id="sfVeuf" name="sfVeuf" [(ngModel)]="critere.sfVeuf">

    <label for="sfDivorce">مطلق(ة)</label>
    <input type="number" id="sfDivorce" name="sfDivorce" [(ngModel)]="critere.sfDivorce">
     <label for="sfDivorce">متوفي(ة)</label>
    <input type="number" id="sfMort" name="sfMort" [(ngModel)]="critere.sfMort">

    </div>
    <!-- END Situation Familliale -->

    <!-- START Logement -->
    <div class="second">
    <h3 id="logementHeader">وضعية السكن</h3>
      <hr>
    <label for="logementLouer">كراء</label>
    <input type="number" id="logementLouer" name="logementLouer" [(ngModel)]="critere.logementLouer">

    <label for="logementAnnexeMosque">ملحق بالمسجد</label>
    <input type="number" id="logementAnnexeMosque" name="logementAnnexeMosque" [(ngModel)]="critere.logementAnnexeMosque">

    <label for="logementFamille">لدى العائلة أو محسنين</label>
    <input type="number" id="logementFamille" name="logementFamille" [(ngModel)]="critere.logementFamille">
    <!-- END Logement -->

    <!-- START Fonction -->

    <h3 id="fonctionHeader">المهمة </h3>
      <hr>
    <label for="fonctionImame">إمام</label>
    <input type="number" id="fonctionImame"  name="fonctionImame"[(ngModel)]="critere.fonctionImame">

    <label for="fonctionKhatib">خطيب</label>
    <input type="number" id="fonctionKhatib" name="fonctionKhatib"  [(ngModel)]="critere.fonctionKhatib">

    <label for="fonctionMoadin">مؤذن</label>
    <input type="number" id="fonctionMoadin" name="fonctionMoadin" [(ngModel)]="critere.fonctionMoadin">

    <label for="fonctionObservateur">حارس</label>
    <input type="number" id="fonctionObservateur" name="fonctionObservateur" [(ngModel)]="critere.fonctionObservateur">

    <label for="guideEncadrentPrecheur">واعظ(ة)/إمام مؤطر/مرشدة</label>
    <input type="number" id="guideEncadrentPrecheur" name="guideEncadrentPrecheur" [(ngModel)]="critere.guideEncadrentPrecheur">

    <label for="fonctionGardien">مراقب</label>
    <input type="number" id="fonctionGardien"  name="fonctionGardien" [(ngModel)]="critere.fonctionGardien">

    <label for="fonctionMenage">منظف (ة)</label>
    <input type="number" id="fonctionMenage"  name="fonctionMenage" [(ngModel)]="critere.fonctionMenage">
    <!-- END Fonction  -->
      <label id="messageResultat"></label>
      <button (click)="updateCritere(critere)" class=" btn btn-primary btn__fm6">التعديل</button>
    </div>
  </form>
  </div>
</div>
<app-footer class="footer"></app-footer>
