/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@import "~normalize.css";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Arabic';
}
.form-control:focus .btn:focus .btn:active{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn__fm6 {
  background-color: #EC8C24;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}
.btn__fm6:hover{
  background-color: #EC8C24;
}
input:focus{
  outline: none !important;
  box-shadow: none !important;
}

