body {
  position: relative;
}

main {
  width: 80%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 2;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 27px;
}
main > * {
  margin: 0 10px;
}
aside.filters {
  background-color: pink;
  height: 100%;
  flex:1;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 27px;
}
label, input{
  display: block;
  line-height: 24px;
}

.demandes {
  flex: 3;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 27px;
  padding: 20px;
}
.search-criteria{
  margin: 10px 10%;
}
div.filters {
  margin: 10px 10%;
}
.table-controlls{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

