<main class="lista">
  <aside class="filters">
    <div class="search-criteria">
      <h4>Recherche</h4>
      <hr>
      <label for="cin">CIN</label>
      <input type="text" id="cin" name="cin" [(ngModel)]="filterObj.cin">
      <label for="codeAdherent">Code Adhérent</label>
      <input type="text" id="codeAdherent" name="codeAdherent" [(ngModel)]="filterObj.codeAdherent" >
      <label for="telephone">Téléphone</label>
      <input type="text" id="telephone" name="telephone" [(ngModel)]="filterObj.telephone">
<!--      <button id="recherche" (click)="recherche()">rechercher</button>-->
    </div>
    <div class="filters">
      <h4>Filteres</h4>
      <hr>
      <label for="age">
        Age
      </label>
      <input type="range"   min="18" max="130" name="age" id="age" [(ngModel)]="filterObj.age">
      <i>{{filterObj.age}}</i>
      <label for="anciennete">Ancienneté</label>
      <input type="range"   min="1" max="60" name="age" id="anciennete" [(ngModel)]="filterObj.anciennete">
      <i>{{filterObj.anciennete}}</i>
      <label for="fonction">Fonction</label>
      <select  name="fonction" id="fonction" [(ngModel)]="filterObj.fonction" >
        <option value="0">Imame</option>
        <option value="1">Khatib</option>
        <option value="2">Moadin</option>
        <option value="3">Gardien</option>
        <option value="4">Menage</option>
        <option value="4">Precheur</option>
      </select>
      <button (click)="recherche()" id="delete" class="filterbutton">appliquer</button>
    </div>
  </aside>
  <section class="demandes">
    <div class="demande__list_header">
      <h2>Liste des demandes</h2>
     <div class="nav_btns">
       <button routerLink="/demandes/creer" >Deposer une demande</button>
       <button routerLink="/criteres" >Critere Globale</button>
     </div>

    </div>
    <hr>
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead thead-light">
      <th scope="col">id</th>
      <th scope="col">référence</th>
      <th scope="col">score</th>
      <th scope="col">cin</th>
      <th scope="col">code adhérent</th>
      <th scope="col">prénom</th>
      <th scope="col">nom</th>
      <th scope="col">age</th>
      <th scope="col">ancienneté</th>
      <th scope="col">téléphone</th>
      </thead>
      <tbody>
      <tr (click)="getLink(demande)" *ngFor="let demande of demandes;index as i">
        <td>{{i}}</td>
        <td>{{demande.reference}}</td>
        <td>{{demande.score}}</td>
        <td>{{demande.cin}}</td>
        <td>{{demande.adherentCode}}</td>
        <td>{{demande.prenom}}</td>
        <td>{{demande.nom}}</td>
        <td>{{demande.age}}</td>
        <td>{{demande.anciennete}}</td>
        <td>{{demande.telephone}}</td>
      </tr>
      </tbody>
    </table>
<!--    <div class="table-controlls">-->
<!--    <button><</button>-->
<!--    <button>></button>-->
<!--    <label >{{demandes.length}} of {{demandes.length}}</label>-->
<!--    </div>-->
  </section>
</main>

<app-footer></app-footer>
